@use "../abstracts/" as *;
main {
  overflow: hidden;

  position: relative;
}

body[data-dark-mode="true"] {
  @each $color, $shade-map in $dark {
    @each $shade, $value in $shade-map {
      .bg-#{$color}-#{$shade} {
        background-color: $value;
      }
      .primary-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }
  .bc-dark {
    border-color: black;
  }
  .bc-light {
    border-color: white;
  }
}

body[data-dark-mode="false"] {
  @each $color, $shade-map in $light {
    @each $shade, $value in $shade-map {
      .bg-#{$color}-#{$shade} {
        background-color: $value;
      }
      .primary-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }
  .bc-dark {
    border-color: white;
  }
  .bc-light {
    border-color: black;
  }
}

body[data-sub-theme="lime"] {
  @each $color, $shade-map in $lime {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-lime;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-lime, 0.5);
  }
}

body[data-sub-theme="red"] {
  @each $color, $shade-map in $red {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-red;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-red, 0.5);
  }
}

body[data-sub-theme="blue"] {
  @each $color, $shade-map in $blue {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-blue;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-blue, 0.5);
  }
}

body[data-sub-theme="orange"] {
  @each $color, $shade-map in $orange {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-orange;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-orange, 0.5);
  }
}

body[data-sub-theme="yellow"] {
  @each $color, $shade-map in $yellow {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-yellow;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-yellow, 0.5);
  }
}

body[data-sub-theme="purple"] {
  @each $color, $shade-map in $purple {
    @each $shade, $value in $shade-map {
      .accent-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }

  .about-me-filter-button {
    background-color: $color-neon-purple;
  }
  .about-me-filter-button:hover,
  .about-me-active-filter-button {
    background-color: rgb($color-neon-purple, 0.5);
  }
}

// a {
//   color: $link-color;
// }

// a:is(:hover, :focus) {
//   color: $link-color-hover;
// }
