@use "../abstracts/" as *;
main {
  overflow: hidden;

  position: relative;
}

body[data-dark-mode="true"] {
  @each $color, $shade-map in $dark {
    @each $shade, $value in $shade-map {
      .bg-#{$color}-#{$shade} {
        background-color: $value;
      }
      .primary-clr-#{$color}-#{$shade} {
        color: $value;
      }
    }
  }
  .bc-dark {
    border-color: black;
  }
  .bc-light {
    border-color: white;
  }
}

// a {
//   color: $link-color;
// }

// a:is(:hover, :focus) {
//   color: $link-color-hover;
// }
