@use "../abstracts/" as *;

.popupButtons {
  width: max-content;
  max-height: max-content;
  border-radius: 50%;
  text-align: center;
  border: none;
  padding: 7px 7.5px 5px 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
