@use "../abstracts" as *;

// fucntion controlling dark mode is in base > general file
@each $shade, $shade-value in $white {
  .clr-white-#{$shade} {
    color: $shade-value;
  }
  .bg-white-#{$shade} {
    background-color: $shade-value;
  }
}

@each $shade, $shade-value in $lime {
  .clr-lime-#{$shade} {
    color: $shade-value;
  }
  .bg-lime-#{$shade} {
    background-color: $shade-value;
  }
}
@each $shade, $shade-value in $red {
  .clr-red-#{$shade} {
    color: $shade-value;
  }
  .bg-red-#{$shade} {
    background-color: $shade-value;
  }
}

.bg-transparent {
  background-color: transparent;
}
.clr-white {
  color: white;
}
.clr-black {
  color: black;
}
